<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>its Do Nhat Minh Hoang -2021050279</p>
<p> Nhathoang30th09@gmail.com</p>

</body>
</html>


